<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a href="{{ path('admin_dashboard') }}">Dashboard</a>
        </li>
        {% if breadcrumb is defined %}
            {% for item in breadcrumb %}
                <li class="breadcrumb-item {{ loop.last ? 'active' : '' }}" {{ loop.last ? 'aria-current="page"' : '' }}>
                    {% if item.link is defined %}
                        <a href="{{ item.link }}">{{ item.label }}</a>
                    {% else %}
                        {{ item.label }}
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ol>
</nav>
