<div class="sidebar">
    <button role="button" class="burger">
		<span id="toggler">
			<span></span>
			<span></span>
			<span></span>
		</span>
    </button>

    <nav role="navigation" class="nav">
        <div class="nav-header">
            <a href="{{ path('admin_dashboard') }}">
                <span>Administration</span>
            </a>
        </div>

        <div class="nav-body">
            {% set currentNavId = currentPage.menu.id|default(null) %}
            {% set currentNavAction = currentPage.menu.action|default(null) %}

            <ul class="nav-items">
                <li data-id="dashboard" class="nav-item {{ currentNavId == 'dashboard' ? 'active' : '' }}">
                    <a href="{{ path('admin_dashboard') }}" class="nav-link">
                        <span>Dashboard</span>
                        <span class="icon">
							<i class="fa-solid fa-gauge"></i>
						</span>
                    </a>
                </li>

                <li data-id="pageContents" class="nav-item has-dropdown {{ currentNavId == 'pages_content' ? 'open' : '' }}">
					<span class="nav-link">
						<span>Contenus</span>
						<span class="icon">
							<i class="fa-regular fa-images"></i>
						</span>
					</span>

                    <ul class="sub-nav-items ps-1">
                        <li class="nav-item {{ currentNavId == 'pages_content' and currentNavAction == 'menu' ? 'active' : '' }}">
                            <a href="{{ path('admin_category_list',{'slug':constant('App\\Entity\\Category\\Category::MENU_SLUG')  }) }}" class="nav-link">
                                <span>Menu</span>
                                <span class="icon">
								<i class="fa-solid fa-network-wired"></i>
								</span>
                            </a>
                        </li>
                        <li class="nav-item {{ currentNavId == 'pages_content' and currentNavAction == 'pages' ? 'active' : '' }}">
                            <a href="{{path('admin_page_list')}}" class="nav-link">
                                <span>Pages</span>
                                <span class="icon">
									<i class="fa-solid fa-pager"></i>
								</span>
                            </a>
                        </li>
                    </ul>
                </li>


                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li data-id="channelConfig"  class="nav-item {{ currentNavId == 'channel_config' ? 'active' : '' }} ">
                        <a href="{{ path('admin_channel_index') }}" class="nav-link">
                            <span>Configuration</span>
                            <span class="icon">
                    			<i class="fa-solid fa-gear"></i>
                    		</span>
                        </a>
                    </li>
                    <li data-id="userAdminList"  class="nav-item {{ currentNavId == 'user_admin_list' ? 'active' : '' }} " >
                        <a href="{{ path('admin_user_list') }}" class="nav-link">
                            <span>Administrateurs</span>
                            <span class="icon">
                    		    <i class="fa-solid fa-users-gear"></i>
                    		</span>
                        </a>
                    </li>
                    <li data-id="cacheClear"  class="nav-item" >
                        <a href="{{ path('admin_clear_cache') }}" class="nav-link">
                            <span>Vider le cache</span>
                            <span class="icon">
                    			<i class="fa-solid fa-rotate"></i>
                    		</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="nav-footer border-top pt-2">
            <ul class="nav-items">
                <li data-id="homepage" class="nav-item">
                    <a href="{{ path('app_home') }}" class="nav-link">
                        <span>Retour au site</span>
                        <span class="icon">
							<i class="fa fa-home"></i>
						</span>
                    </a>
                </li>
                <li data-id="logout" class="nav-item">
                    <a href="{{ path('admin_logout') }}" class="nav-link js-btn-confirm" data-message="Voulez-vous vraiment vous déconnecter?" >
                        <span>Déconnexion</span>
                        <span class="icon">
							<i class="fa-solid fa-power-off text-danger"></i>
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
