<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
    <title>{% block title %}Administration {% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('style-admin-main') }}
    {% endblock %}

</head>
<body>
<main class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand pe-3">
        <a class="navbar-brand" href="{{ path('admin_index') }}"></a>
        <button class="btn btn-info btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
        </button>
        <div class="navbar-date mx-auto d-none d-lg-block">

        </div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0">
            <li class="nav-item dropdown user-dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"><i
                            class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('admin_logout') }}"><i class="fas fa-sign-out-alt"></i><span
                                class="ms-2">Déconnexion</span></a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion " id="sidenavAccordion">
                {% include 'admin/partials/sidebar-menu.html.twig' %}
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main class="flex-grow-1 flex-shrink-0">

                {% block messages %}
                    {% include 'admin/partials/_messages.html.twig' %}
                {% endblock %}

                {% block body %}
                {% endblock %}

            </main>
            <footer class="py-4 mt-auto">
                <div class="text-muted">Copyright &copy; {{ date() | date('Y') }}</div>
            </footer>
        </div>
    </div>
</main>

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>

    {{ encore_entry_script_tags('js-admin-main') }}
{% endblock %}

</body>
</html>
