<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    {% block stylesheets %}
        {{ encore_entry_link_tags('style-admin-login') }}
    {% endblock %}
    <title>Administration - Connexion</title>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title">
            <span>Administration</span>
        </div>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form method="post">
            <div class="row">
                <i class="fas fa-user"></i>
                <input type="email" id="username" name="_username" value="{{ last_username }}" placeholder="Email"
                       autocomplete="email" required autofocus>
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" id="password" name="_password" placeholder="Mot de passe"
                       autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
            <div class="pass">
                <label>
                    <input type="checkbox" name="_remember_me">
                    Se souvenir de moi
                </label>
            </div>
            <div class="pass">
                <a href="{{ path('app_forgot_password') }}">Mot de passe oublié ?</a>
            </div>
            <div class="row button">
                <button type="submit">Connexion</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
